<div class="modal-resource-update">
  <div class="modal-body">
    <div ng-if="resourceList.length === 1">
      <h1>{{resourceKind | humanizeKind}} '<strong>{{resourceName}}</strong>' already exists</h1>
      <p>Do you want to replace the current '<strong>{{resourceName}}</strong>' {{resourceKind | humanizeKind}} with the submitted one?</p>
    </div>
    
    <div ng-if="resourceList.length > 1">
      <h1>Following items from the {{resourceKind | humanizeKind}} already exist:</h1>
      <dl class="dl-horizontal">
        <dt ng-repeat-start="resource in updateResources">{{resource.kind}}</dt>
        <dd ng-repeat-end>{{resource.metadata.name}}</dd>
      </dl>
      <p>Do you want to replace the existing resources with the submitted ones?</p>
    </div>
    
    
  </div>
  <div class="modal-footer">
      <button class="btn btn-lg btn-primary" type="button" ng-click="update();">Update</button>
      <button class="btn btn-lg btn-default" type="button" ng-click="cancel();">Cancel</button>
  </div>
</div>
