<div class="content">
  <project-page>
    <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
    <alerts alerts="alerts"></alerts>
    <div ng-if="!loaded">Loading...</div>
    <div class="tile" ng-if="buildConfig">

      <div>
        <h1>
          Edit {{buildConfig.metadata.name}} build config
        </h1>
      </div>

          <form class="edit-form" name="editBuildConfig">
            <div class="resource-details">
              <div class="row">
                <div class="col-lg-6">
                  <h3>Configuration</h3>
                    <dl class="dl-horizontal left">
                      <div class="form-group">
                        <div ng-if="bcEdit.spec.source.type == 'Git'">
                          <label for="sourceUrl">Git Repository URL</label>
                          <div>
                            <!-- Unfortunately, we can't set type="url" because some valid values don't pass browser validation. -->
                            <input class="form-control"
                              id="sourceUrl"
                              name="sourceUrl"
                              ng-model="bcEdit.spec.source.git.uri"
                              type="text"
                              aria-describedby="from_source_help">
                          </div>
                        </div>
                        <div>
                          <span class="text-warning" ng-if="form.sourceUrl.$dirty && !sourceURLPattern.test(bcEdit.sourceUrl)">Git repository should be a URL.</span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div ng-if="bcEdit.spec.source.type == 'Git'">
                          <label for="sourceRef">Git Repository Ref</label>
                          <div>
                            <!-- Unfortunately, we can't set type="url" because some valid values don't pass browser validation. -->
                            <input class="form-control"
                              id="sourceRef"
                              name="sourceRef"
                              type="text"
                              ng-model="bcEdit.spec.source.git.ref"
                              aria-describedby="from_source_help"
                              placeholder="{{bcEdit.spec.source.git.ref === undefined ? 'master' : bcEdit.spec.source.git.ref}}">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div ng-if="bcEdit.spec.source.type == 'Git'">
                          <label for="sourceRef">Git Context Dir</label>
                          <div>
                            <!-- Unfortunately, we can't set type="url" because some valid values don't pass browser validation. -->
                            <input class="form-control"
                              id="sourceContextDir"
                              name="sourceContextDir"
                              type="text"
                              ng-model="bcEdit.spec.source.git.contextDir"
                              aria-describedby="from_source_help">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="sourceRef">Build From - </label>
                        <select 
                          class="form-control multiselector"
                          ng-model="options.pickedBuildFromType"
                          ng-options="type.id as type.title for type in buildFromTypes">
                        </select>
                      </div>

                      <div ng-if="options.pickedBuildFromType=='ImageStreamTag'" class="form-group">
                        <label for="sourceRef">Builder Image</label>
                        <div class="builder-image-selects multiselectors">
                          <!-- Unfortunately, we can't set type="url" because some valid values don't pass browser validation. -->
                          <select 
                            class="form-control multiselector select-builder-namespace"
                            ng-model="options.pickedBuildFromNamespace"
                            ng-options="name for name in available.projects track by name"
                            ng-change="updateImageStreams(options.pickedBuildFromNamespace)">
                          </select>
                          /
                          <select
                            class="form-control multiselector select-builder-name"
                            ng-model="options.pickedBuildFromImageStream"
                            ng-options="name as name for name in available.imageStreams track by name"
                            ng-change="updateTags(options.pickedBuildFromImageStream)">
                          </select>
                          :
                          <select
                            class="form-control multiselector select-builder-tag"
                            ng-model="options.pickedBuildFromImageStreamTag"
                            ng-options="name as name for name in available.tags[options.pickedBuildFromImageStream] track by name">
                          </select>
<!--                           <span class="help action-inline">
                            <a href data-toggle="tooltip" data-placement="right" data-original-title="This image can build.">
                            <i class="pficon pficon-help"></i>
                            </a>
                          </span> -->
                        </div>
                      </div>
                      <div ng-if="options.pickedBuildFromType=='DockerImage'" class="form-group">
                        <label for="sourceRef">Docker Image Link</label>
                        <div>
                          <!-- Unfortunately, we can't set type="url" because some valid values don't pass browser validation. -->
                          <input class="form-control"
                            id="dockerImageLink"
                            name="dockerImageLink"
                            type="text"
                            ng-model="options.pickedBuildFromDockerImage"
                            placeholder="example: openshift/ruby-20-centos7:latest"
                            aria-describedby="from_source_help">
                        </div>
                      </div>


                      <div class="form-group">
                        <label for="sourceRef">Output to</label>
                        <div class="output-to-selects multiselectors">
                          <select 
                            class="form-control multiselector select-builder-namespace"
                            ng-model="options.pickedPushToNamespace"
                            ng-options="name for name in available.projects track by name"
                            ng-change="updateImageStreams(options.pickedPushToNamespace)">
                          </select>
                          /
                          <select
                            class="form-control multiselector select-builder-name"
                            ng-model="options.pickedPushToImageStream"
                            ng-options="name as name for name in available.imageStreams track by name"
                            ng-change="updateTags(options.pickedPushToImageStream)">
                          </select>
                          :
                          <select
                            class="form-control multiselector select-builder-tag"
                            ng-model="options.pickedPushToImageStreamTag"
                            ng-options="name as name for name in available.tags[options.pickedPushToImageStreamTag] track by name">
                          </select>
<!--                           <span class="help action-inline">
                            <a href data-toggle="tooltip" data-placement="right" data-original-title="This image can build.">
                            <i class="pficon pficon-help"></i>
                            </a>
                          </span> -->
                        </div>
                      </div>


                    </dl>
                    <div ng-if="(buildConfig | buildStrategy).env">
                      <h3>Environment Variables</h3>
                      <dl class="dl-horizontal left">
                        <dt ng-repeat-start="envVar in (buildConfig | buildStrategy).env">{{envVar.name}}:</dt>
                        <dd ng-repeat-end>{{envVar.value}}</dd>
                      </dl>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <h3>Triggers</h3>
                    <dl class="dl-horizontal left">
                </div>
              </div>
          </form>
              

    </div>

  </project-page>
</div>
