<div class="content">
  <project-page>
    <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
    <alerts alerts="alerts"></alerts>
    <div ng-if="!loaded">Loading...</div>
    <div class="tile" ng-show="buildConfig">

      <div>
        <h1>
          Edit Build Config {{buildConfig.metadata.name}}
        </h1>
      </div>
        <fieldset ng-disabled="disableInputs">
          <form class="edit-form" name="form" novalidate>
            <div class="resource-details">
              <div class="row">
                <div class="col-lg-6">
                  <div class="section">
                    <h3>Configuration</h3>
                      <dl class="dl-horizontal left">

                      <source-input 
                        model="updatedBuildConfig.spec.source.git.uri"
                        compared-type="updatedBuildConfig.spec.source.type"
                        label="Git Repository URL">
                      </source-input>

                        <div class="form-group">
                          <div ng-if="updatedBuildConfig.spec.source.type == 'Git'">
                            <label for="sourceRef">Git Repository Ref</label>
                            <div>
                              <input class="form-control"
                                id="sourceRef"
                                name="sourceRef"
                                type="text"
                                ng-model="updatedBuildConfig.spec.source.git.ref"
                                placeholder="master"
                                autocorrect="off"
                                autocapitalize="off"
                                spellcheck="false">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div ng-if="updatedBuildConfig.spec.source.type == 'Git'">
                            <label for="sourceContextDir">Git Context Dir</label>
                            <div>
                              <input class="form-control"
                                id="sourceContextDir"
                                name="sourceContextDir"
                                type="text"
                                ng-model="updatedBuildConfig.spec.source.contextDir"
                                placeholder="/"
                                autocorrect="off"
                                autocapitalize="off"
                                spellcheck="false">
                            </div>
                          </div>
                        </div>

                        <div class="form-group" ng-if="buildConfig.spec.strategy.type === 'Docker'">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="options.noCache" aria-describedby="from_source_help"/>
                              Execute docker build without reusing cached instructions.
                              <span class="help action-inline">
                                <a href>
                                  <i class="pficon pficon-help" data-toggle="tooltip" data-placement="right" aria-hidden="true"
                                  data-toggle="tooltip" data-placement="right" data-original-title="Will run the docker build with '--no-cache=true' flag">
                                  </i>
                                </a>
                              </span>
                            </label>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="buildFrom">Build From</label>
                          <select 
                            class="form-control simpleselector"
                            ng-model="options.pickedBuildFromType"
                            ng-options="type.id as type.title for type in buildFromTypes">
                          </select>
                        </div>

                        <div ng-if="options.pickedBuildFromType=='ImageStreamTag'" class="form-group">
                          <label for="builderImage">Builder Image</label>
                          <div class="builder-image-selects multiselectors">
                            <div class="label-with-selector">
                              <label class="multiselector-label">Namespace</label>
                              <select 
                                class="form-control multiselector select-builder-namespace"
                                ng-model="options.pickedBuildFromNamespace"
                                ng-options="name for name in buildFrom.projects track by name"
                                ng-change="updateBuilderImageStreams(options.pickedBuildFromNamespace, true)">
                              </select>
                            </div>
                            <span class="punctuation hidden-sm hidden-xs">/</span>
                            <div class="label-with-selector">
                              <label class="multiselector-label">Image Stream</label>
                              <select
                                class="form-control multiselector select-builder-name"
                                ng-model="options.pickedBuildFromImageStream"
                                ng-options="name as name for name in buildFrom.imageStreams track by name"
                                ng-change="clearSelectedBuilderTag()">
                              </select>
                            </div>
                            <span class="punctuation hidden-sm hidden-xs">:</span>
                            <div class="label-with-selector">
                              <label class="multiselector-label">Tag</label>
                              <select
                                class="form-control multiselector select-builder-tag"
                                ng-model="options.pickedBuildFromImageStreamTag"
                                ng-options="name as name for name in buildFrom.tags[options.pickedBuildFromImageStream] track by name">
                              </select>
                            </div>
                          </div>
                        </div>
                        <div ng-if="options.pickedBuildFromType=='DockerImage'" class="form-group">
                          <label for="dockerImageLink">Docker Image Link</label>
                          <div>
                            <input class="form-control"
                              id="dockerImageLink"
                              name="dockerImageLink"
                              type="text"
                              ng-model="options.pickedBuildFromDockerImage"
                              placeholder="example: openshift/ruby-20-centos7:latest"
                              autocorrect="off"
                              autocapitalize="off"
                              spellcheck="false">
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" ng-model="options.forcePull"/>
                              Always pull the builder image from the docker registry, even if it is present locally
                            </label>
                          </div>
                        </div>


                        <div class="form-group">
                          <label for="outpuTo">Output to</label>
                          <div class="output-to-selects multiselectors">
                            <div class="label-with-selector">
                              <label class="multiselector-label">Namespace</label>
                              <select 
                                class="form-control multiselector select-builder-namespace"
                                ng-model="options.pickedPushToNamespace"
                                ng-options="name for name in pushTo.projects track by name"
                                ng-change="updateOutputImageStreams(options.pickedPushToNamespace, true)">
                              </select>
                            </div>
                            <span class="punctuation hidden-sm hidden-xs">/</span>
                            <div class="label-with-selector">
                              <label class="multiselector-label">Image Stream</label>
                              <select
                                class="form-control multiselector select-builder-name"
                                ng-model="options.pickedPushToImageStream"
                                ng-options="name as name for name in pushTo.imageStreams track by name"
                                ng-change="clearSelectedOutputTag()">
                              </select>
                            </div>
                            <span class="punctuation hidden-sm hidden-xs">:</span>
                            <div class="label-with-selector">
                              <label class="multiselector-label">Tag</label>
                              <select
                                class="form-control multiselector select-builder-tag"
                                ng-model="options.pickedPushToImageStreamTag"
                                ng-options="name as name for name in pushTo.tags[options.pickedPushToImageStream] track by name">
                              </select>
                            </div>
                          </div>
                        </div>
                      </dl>
                    </div>

                    <div class="section">
                      <h3>Environment Variables<span class="help action-inline">
                        <a href>
                        <i class="pficon pficon-help" data-toggle="tooltip" data-placement="right" aria-hidden="true"
                           data-original-title="Environment variables are used to configure and pass information to running containers.  These environment variables will be available during your build and at runtime."></i>
                        </a>
                      </span></h3>
                      <osc-key-values
                        entries="envVars"
                        delimiter="="
                        key-validator="env"
                        delete-policy="always"
                        key-title="Name"
                        key-validation-tooltip="A valid environment variable name is an alphanumeric (a-z and 0-9) string beginning with a letter that may contain underscores."></osc-key-values>
                    </div>
                  </div>
                <div class="col-lg-6">
                  <div class="section">
                    <h3>Triggers</h3>
                    <dl class="dl-horizontal left">
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="pickedTriggers['webhook']" aria-describedby="from_source_help"/>
                            Enable the webhook build trigger
                            <span class="help action-inline">
                              <a href>
                                <i class="pficon pficon-help" data-toggle="tooltip" data-placement="right" aria-hidden="true"
                                 data-original-title="The source repository must be configured to use the webhook to trigger a build when source is committed.">
                                </i>
                              </a>
                            </span>
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="pickedTriggers['imageChange']" aria-describedby="from_source_help"/>
                            Automatically build a new image when the builder image changes
                            <span class="help action-inline">
                              <a href>
                                <i class="pficon pficon-help" data-toggle="tooltip" data-placement="right" aria-hidden="true" 
                                data-toggle="tooltip" data-placement="right" data-original-title="Automatically building a new image when the builder image changes allows your code to always run on the latest updates.">
                              </i>
                              </a>
                            </span>
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="pickedTriggers['configChange']"/>
                            Automatically build a new image when the build configuration changes
                          </label>
                        </div>
                    </dl>
                  </div>
                </div>
              </div>
                <div class="buttons gutter-top-bottom gutter-top-bottom-2x">
                  <button class="btn btn-primary btn-lg"
                      ng-click="save()"
                      ng-disabled="form.$invalid || disableInputs">
                      Save
                  </button>
                  <a class="btn btn-default btn-lg" 
                    href="{{buildConfig.metadata.name | navigateResourceURL : 'BuildConfig' : projectName}}">
                    Cancel
                  </a>
                </div>
          </form>
        </fieldset>
    </div>
  </project-page>
</div>
